<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>น้ำพริกอ่อง</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: rgb(253, 255, 237);
        }

        h2 {
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
        }

        ol {
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
        }

        p {
            font-weight: bold;
        }

        button#out {
            background-color: blue;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            width: 50px;
            height: 30px;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <nav style="background: linear-gradient(to right, #4158D0,#C850C0,#FFCC70);"
     class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="menu">4 เมนูลับคุณย่า</a>
    </div>
</nav>
    <div class="container">
        <!-- ภาพอาหาร -->
        <div class="image-container">
            <img src="/image/namprikong.png" alt="น้ำพริกอ่อง">
        </div>

        <!-- ส่วนผสม -->
        <div class="ingredients">
            <h2>ส่วนผสม</h2>
            <ol>
                <li>พริกแห้ง 1 กำมือ</li>
                <li>เกลือ 1 ช้อนชา</li>
                <li>กระเทียม 5-8 กลีบ</li>
                <li>หอมแดง 5 หัว</li>
                <li>รากผักชี 1 ช้อนโต๊ะ</li>
                <li>กะปิ 1 ช้อนชา</li>
                <li>เต้าเจี้ยว 1 ช้อนโต๊ะ</li>
                <li>มะเขือเทศหั่นชิ้น 1 ถ้วย</li>
                <li>หมูสับ 500 กรัม</li>
                <li>น้ำมะขามเปียก 1-2 ช้อนโต๊ะ</li>
                <li>น้ำปลา 2-3 ช้อนโต๊ะ</li>
                <li>น้ำตาลปี๊บ 1 ช้อนโต๊ะ</li>
                <li>น้ำมันพืช 2 ช้อนโต๊ะ</li>
            </ol>
        </div>

        <!-- วิธีทำ -->
        <div class="instructions">
            <h2>วิธีการทำ</h2>
            <p>
                1. ทำน้ำพริกอ่องโดยเอาพริกไปปั่น จากนั้นนำมาใส่ครก ใส่เกลือนิดหน่อย ตามด้วยกระเทียม หอมแดง และรากผักชี ตำพอแหลก ใส่กะปิ ใส่เต้าเจี้ยว ตำรวมกับน้ำพริกจนละเอียด<br>
                2. ผัดน้ำมันในกระทะ เปิดไฟกลาง ใส่น้ำพริกที่ตำไว้ลงไปผัดให้หอม ใส่หมูสับ ผัดให้หมูสุก ปรุงรสด้วยน้ำปลา น้ำตาลปี๊บ และน้ำมะขามเปียก ผัดจนมะเขือเทศเปื่อย <br>
                3. ตักใส่ถ้วย เสิร์ฟพร้อมผักสด กินกับข้าวเหนียวหรือข้าวสวยร้อน ๆ อร่อยถูกใจ
            </p>
        </div>
    </div>
</body>
</html>
